# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
The King of Pixelot.exe
*.bak
*.cachefile
*.suo
Thumbs.db
# mstest test results
TestResults
# performance mon files
*.psess
*.vspx